<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"> Home </a>
      <a href="#" class="menu-icon"> About </a>
      <a href="#" class="menu-icon"> Students </a>

      <div class="trigger">
          <a class="page-link" href="/about.html">About</a>
          <a class="page-link" href="/students.html">Students</a>
      </div>
    </nav>

  </div>

</header>
